.content{
    width:33%;
    background:#CCC;
    border:1px solid #ccc;
    border-radius:10px;
    margin:10px;
    color:#000
}
span{
    margin-left:1em
}
mat-icon{
    cursor:pointer;
    color:red;
    position:absolute;right:0.5em
}